.list-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-large);
  box-sizing: border-box;
  align-items: stretch;
  justify-content: stretch;

  .title-page {
    color: var(--secondary-color);
    font-weight: bold;
    height: fit-content;
    max-height: fit-content;
  }

  .items-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
    box-sizing: border-box;
    width: 100%;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .confirm-button {
      align-self: center;
    }
  }

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .row {
      align-items: center;
      justify-content: space-between;
    }

    .header {
      color: var(--secondary-color);
      font-weight: bold;
    }
  }
}
