:root {
  --primary-color: #1976d2;
  --secondary-color: #9fa8da;

  --button-bg-color: #9db2bf;
  --button-bg-color-disabled: #a2a6a9;
  --button-bg-selection-color: #ffa200;
  --button-bg-hover-color: #9db2bf;
  --bg-page-color: #dde6ed;

  --default-box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.75);
}
