<div class="app-root-container">
  <div class="header-root-app">
    <mat-toolbar color="primary">
      <ng-container *ngIf="isLogged">

        <div class="left-side">

          <button mat-icon-button (click)="onHamburgerMenuClicked()" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon [@openClose]="toggleMenu ? 'closed' : 'open'">{{toggleMenu ? 'close' : 'menu'}}</mat-icon>
          </button>

          <div class="logo">
            <img src="assets/media/logo.png">
          </div>

          <span>{{titlePage}}</span>

        </div>

        <div class="right-side">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="onNotifierclick()">
            <mat-icon [matBadge]="1" matBadgeColor="warn">notifications</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="onLogOutClick()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!isLogged">
        <div class="right-side">
          <span class="appTitle">Train your life</span>
        </div>
      </ng-container>
    </mat-toolbar>

    <div class="notifier-panel card-box-shadow" *ngIf="isNotifierOpen">
      <mat-list dense>
        <mat-list-item [routerLink]="['/chat']">
          Marco rossi ti ha inviato un messagio
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="body-root-app">
    <app-navbar (navBarItemClick)="onNavbarItemClicked($event)" [@openCloseNavBar]="toggleMenu ? 'open' : 'closed'">
    </app-navbar>

    <router-outlet></router-outlet>

  </div>
  <div class="footer-root-app">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon><mat-icon>keyboard_arrow_left</mat-icon></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon><mat-icon>crop_square</mat-icon></mat-icon>
    </button>
  </div>

</div>
