<div class="app-root-container">
  <div class="header-root-app">
    <mat-toolbar color="primary">
      <ng-container *ngIf="isLogged">

        <div class="left-side">

          <button mat-icon-button (click)="onHamburgerMenuClicked()" class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>{{toggleMenu ? 'close' : 'menu'}}</mat-icon>
          </button>

          <!--  <div class="logo">
          <img src="assets/media/logo.png">
        </div> -->

          <span>{{titlePage}}</span>

        </div>

        <div class="right-side">
          <mat-icon [matBadge]="1" matBadgeColor="warn">notifications</mat-icon>
          <span class="cdk-visually-hidden">

          </span>

          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="onLogOutClick()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="!isLogged">
        <div class="right-side">
          <span class="appTitle">Train your life</span>
        </div>
      </ng-container>
    </mat-toolbar>
  </div>
  <div class="body-root-app">
    <app-navbar *ngIf="toggleMenu" (navBarItemClick)="onNavbarItemClicked($event)">

    </app-navbar>

    <div class="body-content">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="footer-root-app">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon><mat-icon>keyboard_arrow_left</mat-icon></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon><mat-icon>crop_square</mat-icon></mat-icon>
    </button>
  </div>

</div>