.profile-section {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .cover {
    opacity: 0.9;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .data {
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
      1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    position: absolute;
  }

  .photo-and-name {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
    align-items: center;

    .photo {
      width: 100px;
      height: 100px;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }

  .userinfo {
    justify-content: space-evenly;
    margin-left: var(--padding-large);
    gap: var(--padding-large);

    .row {
      gap: var(--padding-large);

      button {
        text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
          1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
      }
    }
  }
}

.breakline {
  width: 90%;
  height: 1px;
  align-self: center;
  background-color: black;
  margin: 0px 16px;
}
