.home-container {
  justify-content: stretch;
  align-items: stretch;
  gap: var(--padding-large);
  height: 100%;

  .pages-section {
    height: calc(100% - 20% - var(--padding-large));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--padding-large);
    padding: var(--padding-large);
  }

  .mat-mdc-card {
    border-radius: 10px !important;
  }
}
